body {
    font-family: 'Roboto', sans-serif;
}

.card {
    margin-bottom: 0;
    border-radius: 2px 2px 0 0;
}


.btn-submit:hover {
    border: 1px solid #2f5bb7;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
}

.btn-submit {
    padding: 5px 20px;
    border: 1px solid #3079ed;
    color: #fff;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border-radius: 3px;
    height: 44px;
    width: 100%;
    margin-bottom: 10px;
}

.need-help {
    float: right;
    text-align: right;
}

a, a:hover, a:visited {
    color: #427fed;
    cursor: pointer;
    text-decoration: none;
}

input[type=email]:hover, input[type=number]:hover,
input[type=password]:hover, input[type=tel]:hover,
input[type=text]:hover, input[type=url]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

input[type=email], input[type=number], input[type=password],
input[type=tel], input[type=text], input[type=url] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    height: 36px;
    padding: 0 8px;
    margin: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    font-size: 15px;
    color: #404040;
}
